*.pyc
docs/Out/
.DS_Store
docs/svg/
docs/pd-images/
node_modules/

# general things to ignore
build/
dist/
*.egg-info/
*.egg
.eggs/
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
